* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  margin: 0;
}

.first-section, .second-section,
.third-section, .fourth-section, .footer {
  margin-left: 40%;
  transform: translateX(-40%);
  padding: 0 192px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.first-section {
  flex: 1;
  gap: 48px;
  background-color: #1F2937;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8
}

.links {
  display: flex;
  gap: 24px;
  font-size: 18px;
  color: #E5E7EB;
}

.hero {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  align-items: center;
  color: #E5E7EB;
}

.hero .title {
  font-size: 48px;
  font-weight: 900;
}

.hero .text {
  font-size: 18px;
}

.hero .btn {
  background-color: #3882F6;
  border: 0;
  border-radius: 6px;
  padding: 8px 32px;
  color: #E5E7EB;
  margin-top: 8px;
  font-size: 16px;
}

.hero .image {
  width: 1000px;
  height: 200px;
  display: flex;
  background-color: grey;
  justify-content: center;
  align-items: center;
}

.second-section {
  flex: 2;
  gap: 48px;
  align-items: center;
}

.second-section .title {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
}

.cards {
  display: flex;
  gap: 48px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card .img {
  width: 150px;
  height: 150px;
  border: 3px solid #3882F6;
  border-radius: 12px;
}

.card .subtext {
  text-align: center;
}

.third-section {
  flex: 2;
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote {
  font-size: 36px;
  color: #1F2937;
  font-weight: 300;
}

.author {
  align-self: flex-end;
  padding-right: 196px;
  font-size: 24px;
  color: #1F2937;
  font-weight: 900;
}

.fourth-section {
  flex: 2;
}

.call {
  background-color: #3882F6;
  padding: 48px 100px;
  color: #F9FAF8;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 6px;
}

.call .title {
  font-weight: 900;
  font-size: 18px;
}

.call .btn {
  border: 1px solid #F9FAF8;
  border-radius: 6px;
  padding: 8px 32px;
}

.footer {
  flex: 1;
  text-align: center;
  background-color: #1F2937;
  color: #E5E7EB;
}